@import "tailwindcss";

.noSpin::-webkit-outer-spin-button,
.noSpin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.noSpin {
  -moz-appearance: textfield;
  appearance: textfield;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}